<div class="modal auth-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>{{'openlmisLogin.appHeader' | message}}</h1>
                <openlmis-locale class="locale-container"/>
            </div>
            <div class="modal-body">
                <h2>{{'openlmisForgotPassword.forgotPassword' | message}}</h2>
                <div class="form-desc">
                  {{'openlmisForgotPassword.resetPassword.message' | message}}
                </div>
                <form ng-submit="vm.forgotPassword()">
                    <div class="alert is-error" id="errorMessage" ng-if="vm.error">
                        {{vm.error | message}}
                    </div>

                    <label for="email">{{'openlmisForgotPassword.email' | message}}</label>
                    <input type="email" id="email" ng-model="vm.email" required/>

                    <div class="button-group">
                        <input type="submit" id="submitPasswordButton" class="primary" value="{{'openlmisForgotPassword.resetPassword.label' | message}}"/>
                        <input type="button" id="cancelPasswordButton" ng-click="vm.cancel()" value="{{'openlmisForgotPassword.cancel' | message}}"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="http://openlmis.org" target="_blank">
                    {{'openlmisLogin.poweredBy' | message:({openlmis:'OpenLMIS'})}}
                </a>
            </div>
        </div>
    </div>
</div>
