<div class="login-container">
    <div class="modal-login-header">
        <h1>{{'openlmisForgotPassword.appHeader' | message}}</h1>
        <openlmis-locale class="locale-container"/>
    </div>
    <div class="login-form">
        <h2>{{'openlmisForgotPassword.forgotPassword' | message}}</h2>
        <div class="form-desc">{{'openlmisForgotPassword.resetPassword.message' | message}}</div>
        <form>
            <div class="alert is-error" id="errorMessage" ng-if="vm.error">{{vm.error | message}}</div>
            <label for="email">{{'openlmisForgotPassword.email' | message}}</label>
            <input type="text" id="email" ng-model="vm.email" required />
            <div class="button-group">
                <button id="submitPasswordButton" class="primary" ng-click="vm.forgotPassword()" >{{'openlmisForgotPassword.resetPassword.label' | message}}</button>
                <button id="cancelPasswordButton" ng-click="vm.redirectToLogin()">{{'openlmisForgotPassword.cancel' | message}}</button>
            </div>
        </form>
    </div>
    <div class="powered-by">
        <a href="http://openlmis.org" target="_blank">{{'openlmisForgotPassword.poweredBy' | message:({openlmis:'OpenLMIS'})}}</a>
    </div>
</div>
