<div class="modal auth-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>{{'openlmisLogin.appHeader' | message}}</h1>
                <openlmis-locale class="locale-container"/>
            </div>
            <div class="modal-body">
                <h2>{{'openlmisResetPassword.passwordReset.label' | message}}</h2>
                <p>{{'openlmisResetPassword.passwordRequirements' | message}}</p>
                <form ng-submit="vm.changePassword()">
                    <div id="error" class="alert is-error" ng-if="vm.error">
                        {{vm.error | message}}
                    </div>

                    <div class="form-group">
                        <label for="password">
                            {{'openlmisResetPassword.newPassword' | message}}
                        </label>
                        <input id="password"
                            ng-model="vm.password"
                            type="password"
                            required/>
                    </div>

                    <div class="form-group">
                        <label for="reenteredPassword">
                            {{'openlmisResetPassword.reenterPassword' | message}}
                        </label>
                        <input id="reenteredPassword"
                            ng-model="vm.reenteredPassword"
                            type="password"
                            required/>
                    </div>

                    <input type="submit"
                        value="{{'openlmisResetPassword.changePassword' | message}}"/>
                </form>
            </div>
            <div class="modal-footer">
                <a href="http://openlmis.org" target="_blank">
                    {{'openlmisLogin.poweredBy' | message:({openlmis:'OpenLMIS'})}}
                </a>
            </div>
        </div>
    </div>
</div>
