<div class="login-container">
    <div class="modal-login-header">
        <h1>{{'openlmisResetPassword.appHeader' | message}}</h1>
        <openlmis-locale class="locale-container"/>
    </div>
    <div class="login-form">
        <form ng-submit="vm.changePassword()">
            <div id="error" class="alert is-error" ng-if="vm.error">{{vm.error | message}}</div>
            <h2>{{'openlmisResetPassword.passwordReset.label' | message}}</h2>
            <p>{{'openlmisResetPassword.passwordRequirements' | message}}</p>
            <div class="form-group">
                <label for="password">{{'openlmisResetPassword.newPassword' | message}}</label>
                <input ng-model="vm.password" type="password" id="password" required />
            </div>
            <div class="form-group">
                <label for="reenteredPassword">{{'openlmisResetPassword.reenterPassword' | message}}</label>
                <input ng-model="vm.reenteredPassword" type="password" id="reenteredPassword" required/>
            </div>
            <input type="submit" value="{{'openlmisResetPassword.changePassword' | message}}" />
        </form>
    </div>
    <div class="powered-by">
        <a href="http://openlmis.org" target="_blank">{{'openlmisResetPassword.poweredBy' | message:({openlmis:'OpenLMIS'})}}</a>
    </div>
</div>
